In [2]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import key_dict

#gmaps key 
g_key = key_dict['g_key']

 Store Part I results into DataFrame

Load the csv exported in Part I to a DataFrame

In [6]:
weather_csv_file = "../WeatherPy/output/weather_info_df.csv"

weather_df = pd.read_csv(weather_csv_file)

weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Rikitea,-23.1203,-134.9692,80.13,71,0,7.54,PF,1616357944
1,Ushuaia,-54.8000,-68.3000,55.40,58,40,18.41,AR,1616357707
2,Busselton,-33.6500,115.3333,64.99,95,80,3.00,AU,1616357988
3,Sakakah,29.9697,40.2064,73.40,17,0,4.61,SA,1616358327
4,Saldanha,-33.0117,17.9442,62.60,67,0,6.91,ZA,1616358034

 Humidity Heatmap

Configure gmaps.Use the Lat and Lng as locations and Humidity as the weight.Add Heatmap layer to map.

In [15]:
# Configure gmaps with API key.
gmaps.configure(api_key=g_key)

weather_df = weather_df.dropna()
humidity = weather_df["Humidity"].astype(float)

# Store 'Latitude' and 'Longitude' into  locations. 
locations = weather_df[["Lat", "Lng"]].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(weather_df["Humidity"]),
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

 Create new DataFrame fitting weather criteria

Narrow down the cities to fit weather conditions.Drop any rows will null values.

In [19]:
# Narrow down the DataFrame to find your ideal weather condition.
filtered_weather_df = weather_df

# Drop any rows that don't contain all three conditions. Want to be sure the weather is ideal.

# A max temperature lower than 80 degrees but higher than 70.
filtered_weather_df = filtered_weather_df.loc[(filtered_weather_df["Max Temp"] < 80) & (filtered_weather_df["Max Temp"] > 70)]

# Wind speed less than 10 mph.
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Wind Speed"] < 10]

# Zero cloudiness.
filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Clouds"] == 0]

# Drop any rows with null values
filtered_weather_df = filtered_weather_df.dropna()

filtered_weather_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
3,Sakakah,29.9697,40.2064,73.40,17,0,4.61,SA,1616358327
130,Akaltara,22.0167,82.4333,74.57,30,0,2.19,IN,1616358362
149,Bandarbeyla,9.4942,50.8122,77.79,69,0,7.83,SO,1616358068
163,Kālāgarh Project Colony,29.5000,78.7500,70.66,26,0,5.12,IN,1616358372
205,Mercedes,-34.6515,-59.4307,75.99,61,0,1.01,AR,1616358385
220,Buraidah,26.3260,43.9750,73.40,38,0,2.30,SA,1616358391
251,Ahwa,20.7500,73.6833,72.01,16,0,1.95,IN,1616358401
260,Inhambane,-23.8650,35.3833,76.28,86,0,7.07,MZ,1616358404
267,Dongargaon,20.9667,80.8500,78.66,30,0,3.02,IN,1616358406
278,Salalah,17.0151,54.0924,78.80,89,0,1.14,OM,1616357773
295,Port Blair,11.6667,92.7500,78.78,72,0,4.25,IN,1616358415
316,Rāwatbhāta,24.9333,75.5833,78.10,15,0,5.28,IN,1616358422
357,Adrar,20.5022,-10.0711,73.29,16,0,8.30,MR,1616358437
367,Makkah al Mukarramah,21.4267,39.8261,78.04,59,0,1.52,SA,1616358368
375,Māngrol,21.1167,70.1167,75.11,81,0,3.74,IN,1616358444
377,Verāval,20.9000,70.3667,75.49,77,0,6.62,IN,1616358445
391,Bahādurganj,26.2667,87.8167,70.83,24,0,4.07,IN,1616358450
395,San Luis,-33.2950,-66.3356,74.39,24,0,7.00,AR,1616358452
399,Wanparti,16.3667,78.0667,75.61,37,0,4.07,IN,1616358454
404,Viedma,-40.8135,-62.9967,74.52,20,0,9.40,AR,1616358456
423,Chilca,-12.5211,-76.7372,78.80,65,0,6.91,PE,1616358463
440,Naliya,23.2667,68.8333,74.03,86,0,9.95,IN,1616358469
448,Diplo,24.4667,69.5840,73.27,80,0,9.06,PK,1616358472
461,Beloha,-25.1667,45.0500,75.33,82,0,3.60,MG,1616358478
499,Lahān,26.7296,86.4951,72.00,20,0,5.23,NP,1616358493
522,Sur,22.5667,59.5289,76.08,52,0,6.53,OM,1616358502
540,Karwar,14.8000,74.1333,75.88,85,0,5.03,IN,1616358509
541,Dharampur,20.5333,73.1833,72.23,41,0,2.35,IN,1616358510

 Hotel Map

Store into variable named hotel_df.Add a "Hotel Name" column to the DataFrame.Set parameters to search for hotels with 5000 meters.Hit the Google Places API for each city's coordinates.Store the first Hotel result into the DataFrame.Plot markers on top of the heatmap.